@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
  color: aliceblue;
  text-align: center;
  margin-top: 0;
  /*background-color: #404048;*/
}

html {
  scroll-behavior: smooth;
}

a{
  transition: 0.15s;
}

#main-carousel {
  height: 540px;
}

#intro-hi {
  opacity: 0;
}

#intro-name {
  opacity: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.intro {
  background-image: url(/images/skyline-moresky.png);
  background-size: cover;
  height: 768px;
}

.pulse {
  overflow: visible;
  position: absolute;
  bottom: 23%;
  align-content: center;
}
.pulse:before {
  background-color: inherit;
  border-radius: inherit;
  transition: opacity .6s, transform .3s;
  animation: pulse-animation 1.5s cubic-bezier(0.24, 0, 0.38, 1) infinite;
	z-index: -1;
}
@keyframes pulse-animation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  transition: .3s;
}

.navbar-darker {
  background-color: rgba(20, 23, 25, 0.9) !important;
}

.card {
  height: 400px;
  width: 400px;
  justify-content: center;
  border-width: 0.15em;
  position: relative;
  font-size: 11.5pt;
  transition: 0.2s;
}

.card-link {
  position: absolute;
  width: 80px;
  bottom:5%;
  left:160px;
}

.card-body{
  padding:9px;
}

.lead {
  color: lightgray;
  font-size: 1.25rem;
}

.card:hover {
  border-width: 0.15em;
  border-color: darkgray;
}

.padding-lg {
  padding-top: 300px;
}

.email-link {
  color: darkgray;
  text-decoration: none;
}

.email-link:hover {
  color: white;
}

.contact-container {
  justify-content: left;
}

.bi { /* Bigger Bootstrap Icons */
  font-size: 1.25rem;
}

/* This needs some work. */
.section-header {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
}

.resume-tagline {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 13px;
  text-transform: uppercase;
}

.uni-container {
  text-align: left;
}

.text-left {
  text-align: left;
}













/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}









